<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- 引入 ElementUI 样式 -->
    <link rel="stylesheet" href="/stylesheets/element.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- 引入 Vue 组件库 -->
    <script type="text/javascript" src="/javascripts/vue.min.js"></script>
    <!-- 引入 ElementUI 组件库 -->
    <script type="text/javascript" src="/javascripts/element.min.js"></script>
    <!-- 引入 showdown -->
    <script type="text/javascript" src="/javascripts/showdown.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/github-markdown-light.css">
    <!-- 引入 axios 组件库 -->
    <script type="text/javascript" src="/javascripts/axios.min.js"></script>
    <title>油猴脚本开发学习</title>
</head>

<body>
    <div id="app">
        <el-container style="height: 100%; border: 1px solid #eee">
            <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
                <el-menu :default-active="activeIndex" @select="handleSelect" style="height: 100%;">
                    <el-submenu index="1">
                        <template slot="title"><i class="el-icon-ship"></i>入门篇</template>
                        <el-menu-item index="万能视频倍速播放" title="万能视频倍速播放">万能视频倍速播放</el-menu-item>
                        <el-menu-item index="使用脚本向页面上添加新元素" title="使用脚本向页面上添加新元素">使用脚本向页面上添加新元素
                        </el-menu-item>
                    </el-submenu>

                    <el-submenu index="2">
                        <template slot="title"><i class="el-icon-menu"></i>中级篇</template>
                    </el-submenu>

                    <el-submenu index="3">
                        <template slot="title"><i class="el-icon-aim"></i>高级篇</template>
                    </el-submenu>

                    <el-submenu index="4">
                        <template slot="title"><i class="el-icon-guide"></i>工程篇</template>
                    </el-submenu>

                    <el-submenu index="5">
                        <template slot="title"><i class="el-icon-coin"></i>实战篇</template>
                    </el-submenu>

                    <el-submenu index="6">
                        <template slot="title"><i class="el-icon-office-building"></i>原理篇</template>
                    </el-submenu>

                    <el-submenu index="7">
                        <template slot="title"><i class="el-icon-question"></i>补充篇</template>
                    </el-submenu>

                </el-menu>
            </el-aside>

            <el-container>
                <el-main>
                    <div id="editor">
                        <article id="view-area" class="markdown-body"></article>
                    </div>
                </el-main>
            </el-container>
        </el-container>
    </div>


    <script>
        new Vue({
            el: "#app",
            data () {
                return {
                    activeIndex: '1',
                    // markdown: 'C:\\Users\\Admin\\WebstormProjects\\tampermokey-script-dev\\public\\文档\\使用脚本向页面上添加新元素.md',
                    markdown: '# Hello, World',
                }
            },
            methods: {
                /* 处理选中事件，让其在main中显示相应的文档 */
                handleSelect (key, keyPath) {
                    // console.log(`key: ${key}, keyPath: ${keyPath}`);
                    // console.log('请求路径:', '/文档/' + key + '.md');
                    let file = "/文档/" + key + ".md";
                    console.log(`file: ${file}, type: ${typeof (file)}`)
                    axios
                        .get(file, {
                            headers: {
                                'Content-Type': 'text/html; charset=utf-8'
                                // 添加其他需要的请求头
                            },
                            withCredentials: true
                        })
                        .then(response => {
                            // this.markdown = response.data;
                            // console.log("已读取到数据: ", response.data);
                            // document.querySelector(".markdown").innerHTML = response.data;
                            // markdown 转 HTML方式渲染，代码参考自: https://blog.csdn.net/Dreamy_LIN/article/details/106304182
                            let md = response.data;
                            let converter = new showdown.Converter(); // 增加拓展table
                            converter.setOption("tables", true); // 启用表格选项，从showdown 1.2.0版开始，表支持已作为可选功能移入核心拓展，showdown.table.min.js扩展已被弃用
                            let view = converter.makeHtml(md);
                            document.getElementById("view-area").innerHTML = view;
                        })
                        .catch(error => {
                            console.error(error);
                        });
                }
            }
        });
    </script>
</body>

</html>